.campaign__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.card {
  flex: 1;
  /* margin: 40px 40px; */
  justify-content: space-around;
  align-items: center;
  border: none;
}

.__button {
  margin: 40px 40px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
