.title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-end;
}

.campaign__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
