body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Playfair Display" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.__button {
  margin: 40px 40px;
}

.talent__info {
  text-decoration: none;
}

.campaign__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 200px;
}

.campaign__description {
  margin: 40px 40px;
}

.campaign__date {
  margin: 20px 20px;
}

.campaign__status {
  display: flex;
  flex-direction: column;
  padding: 20px 400px;
}
